<!DOCTYPE html>
<html>

<head>
    @{await Html.RenderPartialAsync("_Head");}
</head>

<body style="background-color: #fcfcfc">



    <main role="main" class="pb-3">
        @RenderBody()
    </main>



</body>
</html>
